$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html {
  font-family: Arial, Helvetica, sans-serif
}

body{
   height: 100%;
}

a.active {
  background-color: gray;
}
