<div class="container" fxLayout="column" fxLayoutAlign="start none">
   <div fxFlex="auto">
      <ibapt-header></ibapt-header>
   </div>
   <div fxFlex="grow" style="margin:10px 0px 10px 0px;">
      <alert-bar></alert-bar>
      <router-outlet class="h-75"></router-outlet>
   </div>
   <div fxFlex="50px">
      <ibapt-footer></ibapt-footer>
   </div>
</div>