<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
   <div fxFlex="76px">
      <img style="cursor: pointer" src="assets/img/application_logo.png" (click)="navigateToHome()">
   </div>
   <div fxFlex="grow"></div>
   <div fxFlex="1 0 auto">
      <a *ngIf="userService.isAuthenticated()" (click)="showAccountDetails()">{{userService.getUserName()}}</a>
   </div>
   <div fxFlex="60px">
      <button *ngIf="userService.isAuthenticated()" (click)="userService.logout()">Logout</button>
   </div>
</div>