<div *ngIf="unknowns" class="alert alert-warning">
   Some rights are linked to unknown LDAP groups.
   <a (click)=editUnknown()>edit</a>
</div>
<tabset>
   <tab (select)="onRightTabSelected()" heading='Groups by right'>
      <div style="margin: 10px 5px 5px 5px;">
         <label class="control-label" for="right">Right</label>
         <select class="form-control" id="right" [(ngModel)]="selectedRight" (ngModelChange)="onRightSelected($event)">
            <option *ngFor="let right of rights" [ngValue]="right">{{right.mnemonic}} ({{right.description}})</option>
         </select>
      </div>
      <table class="table table-striped">
         <thead>
            <tr>
               <th style="width: 20px">Granted</th>
               <th>Name</th>
               <th>Description</th>
               <th>Grant date</th>
               <th style="width: 20px">Unknown</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let grant of grants">
               <td>
                  <input [(ngModel)]="grant.granted" type="checkbox">
               </td>
               <td>{{grant.group.name}}</td>
               <td>{{grant.group.description}}</td>
               <td>{{grant.grantDate}}</td>
               <td>
                  <span *ngIf="grant.group.missing" class="glyphicon glyphicon-warning-sign text-warning"></span>
               </td>
            </tr>
         </tbody>
      </table>
      <button type="button" class="btn btn-primary" (click)="onSave()" [disabled]="!selectedRight">Save right</button>
   </tab>
   <tab (select)="onRoleTabSelected()" heading='Rights by group'>
      <div style="margin: 10px 5px 5px 5px;">
         <label class="control-label" for="role">Role</label>
         <select class="form-control" id="role" [(ngModel)]="selectedRole" (ngModelChange)="onRoleSelected($event)">
            <option *ngFor="let role of roles" [ngValue]="role">{{role.name}} ({{role.description}})</option>
         </select>
      </div>
      <table class="table table-striped">
         <thead>
            <tr>
               <th style="width: 20px">Granted</th>
               <th>Mnemonic</th>
               <th>Description</th>
               <th>Grant date</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let grant of grants">
               <td>
                  <input [(ngModel)]="grant.granted" type="checkbox">
               </td>
               <td>{{grant.right.mnemonic}}</td>
               <td>{{grant.group.description}}</td>
               <td>{{grant.grantDate}}</td>
            </tr>
         </tbody>
      </table>
      <button type="button" class="btn btn-primary" (click)="onSaveRole()" [disabled]="!selectedRole">Save role</button>
   </tab>
</tabset>